$base-color: red;
$base-white: white;
$size:20px;


@mixin base-list {
  width: 100%;
  left: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  z-index: 2;
}

html, body, .cover, #content, .overlay {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}
body::-webkit-scrollbar {
  display: none;
}
.cover {
  background: url("../img/241346.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0px -120px 100px -10px rgba(0, 0, 0, 0.7);
  position: relative;
  color: rgb(255, 255, 255);
}
.filler {
  @include base-list;
  bottom:20px;
}
.centerText {
  @include base-list;
  bottom:50%;
}

#content {
  padding:100px;
  background: url("http://lorempixel.com/output/city-q-g-1152-839-4.jpg");
  background-size: cover;
  background-repeat:no-repeat;
}
 .centerText > h1 {
  font-size: $size+30;
}
 #tietoa > .highlight {
  color: $base-color;
  font-weight: bold;
}
.linkki:hover {
 color: $base-white;
}
.fa {
  padding: 20px;
  font-size: $size+10;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: $base-white;
  
}
.fa:hover {
 text-decoration: none;
  color: $base-color;
}

.sivut {
 align-content: center;
}
th {
 width: 10%;
 
}
#tietoa {
border-radius: 5px;
margin: 2px;
padding: 20px 30px 20px 30px;
background-color: $base-white;
font-size: $size;
}
